# MoveIt uses this configuration for controller management

moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  controller_names:
    - scaled_joint_trajectory_controller
    - qbhand2m1

  scaled_joint_trajectory_controller:
    type: FollowJointTrajectory
    joints:
      - ur5e_shoulder_pan_joint
      - ur5e_shoulder_lift_joint
      - ur5e_elbow_joint
      - ur5e_wrist_1_joint
      - ur5e_wrist_2_joint
      - ur5e_wrist_3_joint
    action_ns: follow_joint_trajectory
    default: true
  qbhand2m1:
    type: FollowJointTrajectory
    joints:
      - qbhand2m1_manipulation_joint
      - qbhand2m1_synergy_joint
    action_ns: qbhand2m1_synergies_trajectory_controller/follow_joint_trajectory
    default: true